@use '@/assets/layout/layout';
@use 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
  font-family: 'Inter', sans-serif;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 24px;
}


.p-datatable-tbody > tr > td  {
  padding: 0.25rem 1rem !important;
}

.filter-container {
  position: relative;
  display: flex;
  gap: 12px;
}

.filter {
  position: sticky;
  min-width: 300px;
  top: 5rem;
  left: 0;
  width: 24rem;
  height: calc(100vh - 8rem);
  z-index: 999;
  overflow-y: auto;
  user-select: none;

  //transition: transform var(--layout-section-transition-duration),
  //left var(--layout-section-transition-duration);
  background-color: var(--surface-overlay);
  border-radius: var(--content-border-radius);
  padding: 1rem 1.5rem;

  @media screen and (max-width: 960px) {
    position: absolute;
    left: 0;
    top: 0;
    box-shadow:
            0px 3px 5px rgba(0, 0, 0, 0.02),
            0px 0px 2px rgba(0, 0, 0, 0.05),
            0px 1px 4px rgba(0, 0, 0, 0.08);
  }
}
